@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --brand-primary: 100 157 173;
        --brand-primary-alt: 62 107 124;
        --brand-primary-text: 255 255 255;
        --brand-accent: 193 154 183;
        --brand-accent-alt: 116 92 110;
        --brand-accent-text: 0 0 0;
        --background: 230 230 230;
        --surface: 250 250 250;
        --surface-1: 9 9 11;
        --surface-2: 39 39 42;
        --surface-3: 82 82 91;
        --surface-4: 161 161 170;
        --surface-5: 228 228 231;
        --text-1: 9 9 11;
        --text-2: 39 39 42;
        --text-3: 82 82 91;
        --text-4: 161 161 170;
        --text-5: 228 228 231;
        --success: 66 137 89;
        --error: 199 62 29;
        --warning: 241 143 1;
        --info: 42 79 135;
        --success-surface: 230 242 238;
        --error-surface: 250 241 230;
        --warning-surface: 255 249 230;
        --info-surface: 225 239 247;
      /* ... */
    }
   
   
    @media (prefers-color-scheme: dark) {
        :root {
        --background: 30 30 30;
        --surface: 62 62 66;
        --surface-1: 226 232 240;
        --surface-2: 161 161 170;
        --surface-3: 156 163 175;
        --surface-4: 39 39 42;
        --surface-5: 9 9 11;
        --text-1: 226 232 240;
        --text-2: 161 161 170;
        --text-3: 156 163 175;
        --text-4: 39 39 42;
        --text-5: 9 9 11;
        /* ... */
        }
    }
  }



#__next {
    height: 100%;
}

body{
    background: #e6e6e6;
    background: rgb(var(--background) / 1 );
    color: #00090B;
    color: rgb(var(--surface-1) / 1 )
}

.hide-scrollbars {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbars::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.grid-template-auto{
    --grid-template-min: 240px;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-template-min), 1fr));
}

.grid-template-0{--grid-template-min: 0}
.grid-template-1{--grid-template-min: 50px}
.grid-template-2{--grid-template-min: 100px}
.grid-template-3{--grid-template-min: 150px}
.grid-template-4{--grid-template-min: 200px}
.grid-template-5{--grid-template-min: 250px}
.grid-template-6{--grid-template-min: 300px}